label(for="name") Restaurant:
input(type="text" id="name")
br
label(for="feeDel") Delivery Fee: (in $)
input(type="text" id="feeDel")
br
label(for="minOrder") Min Order: (in $)
input(type="text" id="minOrder")
br